.filter-button {
	font-size: var(--fz-button);
	font-weight: var(--fw-700);
	color: var(--button-text);
	background: none;
	border: none;
	cursor: pointer;
	transition: color 0.35s ease;

	&:hover,
	&:focus {
		color: var(--button-text-hover);
	}

	&.active {
		color: var(--button-text-active);
	}
}
