@use './variables';

@mixin mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin theme-light {
	--bg-image: url('../images/bg-mobile-light.jpg');
	--shadow-clr: hsl(236 33% 92% / 0.5);
	--bg-body: var(--clr-neutral-200-light);
	--body-copy: var(--clr-neutral-700-light);
	--bg-todo: var(--clr-neutral-100-light);
	--input-placeholder: var(--clr-neutral-400-light);
	--input-caret: var(--clr-primary-600-light);
	--bg-task-button: linear-gradient(135deg, var(--clr-primary-400-light), var(--clr-primary-500-light));
	--task-border: var(--clr-neutral-300-light);
	--task-completed: var(--clr-neutral-400-light);
	--todo-counter: var(--clr-neutral-600-light);
	--button-text: var(--clr-neutral-600-light);
	--button-text-hover: var(--clr-neutral-700-light);
	--button-text-active: var(--clr-primary-600-light);
	--reorder-info: var(--clr-neutral-600-light);
	@include mq(medium) {
		--bg-image: url('../images/bg-desktop-light.jpg');
	}
}

@mixin theme-dark {
	--bg-image: url('../images/bg-mobile-dark.jpg');
	--shadow-clr: hsl(236 33% 92% / 0.5);
	--bg-body: var(--clr-neutral-800-dark);
	--body-copy: var(--clr-neutral-200-dark);
	--bg-todo: var(--clr-neutral-700-dark);
	--input-placeholder: var(--clr-neutral-300-dark);
	--input-caret: var(--clr-primary-600-dark);
	--bg-task-button: linear-gradient(135deg, var(--clr-primary-400-light), var(--clr-primary-500-light));
	--task-border: var(--clr-neutral-600-dark);
	--task-completed: var(--clr-neutral-500-dark);
	--todo-counter: var(--clr-neutral-400-dark);
	--button-text: var(--clr-neutral-400-dark);
	--button-text-hover: var(--clr-neutral-200-dark);
	--button-text-active: var(--clr-primary-600-light);
	--reorder-info: var(--clr-neutral-400-dark);
	@include mq(medium) {
		--bg-image: url('../images/bg-desktop-dark.jpg');
	}
}
