.task {
	display: flex;
	align-items: center;
	gap: var(--spacer-rem-275);
	padding-block: var(--spacer-rem-250);
	padding-inline: var(--spacer-rem-450);
	background-color: var(--bg-todo);

	&:not(:last-child) {
		border-bottom: 1px solid var(--task-border);
	}

	&__label {
		font-size: var(--fz-400);
		word-wrap: break-word;
	}

	&[data-status='completed'] &__label {
		text-decoration: line-through;
		color: var(--task-completed);
	}

	&__delete-button {
		display: none;
		margin-inline-start: auto;
		background: none;
		border: none;
		cursor: pointer;
	}

	&:is(:focus-within, :hover) &__delete-button {
		display: block;
	}
}
