@use '../abstracts/mixins' as mxn;

.task {
	position: relative;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 1fr auto;
	gap: var(--spacer-rem-275);
	padding-block: var(--spacer-rem-250);
	padding-inline: var(--spacer-rem-450);
	background-color: var(--bg-todo);
	border-radius: var(--borr-200);
	cursor: grab;

	&:not(:last-child) {
		border-bottom: 1px solid var(--task-border);
	}

	&.hidden {
		display: none;
	}

	&__label {
		align-self: center;
		font-size: var(--fz-400);
		word-wrap: break-word;
	}

	&[data-status='completed'] &__label {
		text-decoration: line-through;
		color: var(--task-completed);
	}

	&__delete-button {
		visibility: hidden;
		margin-inline-start: auto;
		background: none;
		border: none;
		cursor: pointer;
	}

	&:is(:focus-within, :hover) &__delete-button {
		visibility: visible;
	}

	&__move-controls {
		--max-width: 3rem;
		--right: var(--spacer-rem-400);
		position: absolute;
		right: calc(var(--right) * -1);
		top: 50%;
		translate: 0 -50%;
		display: none;
		flex-direction: column;
		gap: var(--spacer-em-100);
		width: var(--max-width);
		@include mxn.mq(medium) {
			--max-width: 5.4rem;
			--right: var(--spacer-rem-650);
		}
	}

	&:is(:focus-within, :hover) &__move-controls {
		display: flex;
	}

	&:first-child &__move-controls > [data-direction='up'] {
		display: none;
	}

	&:last-child &__move-controls > [data-direction='down'] {
		display: none;
	}
}
